.background {
  background-image: url("../../../../assests/noise_gray_top.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  z-index: 0; /* Ensure it's below the Navbar */
}
